# Data
# 1. Ignore all files and subfolders inside data/raw/
data/raw/*

# 2. But do NOT ignore the .gitkeep file
!data/raw/.gitkeep

data/processed/
temp_warehouse/

# Python
__pycache__/
*.py[cod]
venv/
.pytest_cache/
.env